/**
 * @author wuaixiaoyao
 * @date 2018/6/12
 * @Description:
*/
.remindBtn{
  width:64px;
  height:24px;
  border-radius:2px;
  font-size:14px;
  line-height:24px;
  text-align:center;
  color:#fff;
  background-color:#FFD100;

}
.alreadyRemind{
  background-color:#CECECE !important;
}
.hideBtn{
  width:64px;
  height:24px;
  background-color:#fff;
}