/**
 * @author wuaixiaoyao
 * @date 2018/6/5
 * @Description: banner图详情页
*/
@import "../../../../styles/css/variables.scss";
@import "../../../../styles/css/mixins.scss";
.bannerWrap {
  position: relative;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: #000000;
  .bannerBg {
    width: 100%;
    height: auto;
    pointer-events: none;
  }
}
