/**
 * @author wuaixiaoyao
 * @date 2018/5/15
 * @Description:
*/
.shareWrap{
  height:100%;
  background: -webkit-linear-gradient(#FC7802, #CB0602); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#FC7802, #CB0602); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#FC7802, #CB0602); /* Firefox 3.6 - 15 */
  background: linear-gradient(#FC7802, #CB0602); /* 标准的语法 */
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  .inviteBg{
    width:100%;
    height: 289px;
  }
  .inviteWrap{
    flex:1;
    padding:20px 15px;
    .inviteContent{
      border-radius:5px;
      background: #fff;

    }
  }


}

