/**
 * @author wuaixiaoyao
 * @date 2018/6/8
 * @Description:
*/

@import "../../../../styles/css/variables.scss";
@import "../../../../styles/css/mixins.scss";
.newUserWrap {
  position: relative;
  overflow-y: scroll;
  box-sizing: border-box;
  @include up-down-wrap(#FC7802, #CB0602);
  .newUserBg {
    width: 100%;
    height: auto;
  }
  .btnWrapPosition{
    position:absolute;
    z-index:999;
    top:300px;
    left:50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    transform:translate(-50%,0);

  }
}
