/**
 * @author wuaixiaoyao
 * @date 2018/8/17
 * @Description:
*/

.app-share-content{
  position: relative;
  width:100%;
  background-color: #FFFFFF;

  .app-share-body{
    margin-top: 64px;
    overflow-y: scroll;

  }
}
