/**
 * @author wuaixiaoyao
 * @date 2018/6/25
 * @Description:
*/
@import "../../../styles/css/variables";
@import "../../../styles/css/mixins";
.newsWrap{
  width: 100%;
  overflow-y: scroll;
  position:relative;
  padding: 10px 0px;
  box-sizing: border-box;
  background-color: #ffffff;

}
.notice-wrap{
  width: 100%;
  overflow-y: scroll;
  position:relative;
  padding: 10px 0px;
  box-sizing: border-box;
  background-color: #ffffff;
  .notice-content{
    padding: 0;
  }
}
.article-tag-wrapper{
  padding-right: 12px;
  padding-left: 12px;
}
.article-title{
  padding-left: 12px;
  padding-right: 12px;
  @include sc(18px,#4A4A4A);
  line-height: 25px;
  letter-spacing: 0;
  font-weight: bolder;
}
.article-description{
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0;
  line-height: 16px;
}
.article-detail{
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom:14px;
  font-size: 16px;
  line-height: 26px;
  color: #4D4D4D;
  letter-spacing: 0;
  text-align: justify;
  text-justify:inter-ideograph;
  img{
    width:100%;
    height: auto;
    border-radius: 4px;
  }
  p{
    margin-bottom: 10px;
  }


}
.notice-detail{
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  @include sc(16px,#4D4D4D);
  letter-spacing: 0;
  line-height:26px;
  text-align: justify;
  white-space:pre-line;
  word-break:break-all;
  overflow-x: scroll;
  p{
    margin-bottom: 10px;
  }
}
.pdf-wrapper{
  width:100%;
  padding: 0;

}
canvas{
  width: 100% !important;
  height:auto !important;
}
.react-pdf-canvas{
  width: 100% !important;
  height:auto !important;
}
.pdf-link-wrapper{
  display: block;
  width: 100%;
  height: 30px;
  text-decoration: none;
  text-align: center;
  @include sc(14px,#4d4d4d);
  line-height: 30px;
}
.padding-12{
  padding: 10px -12px;

}
.white-space{
  width:100%;
  height: 60px;
}