/**
 * @author wuaixiaoyao
 * @date 2018/5/15
 * @Description: 公共样式
*/

@import "variables.scss";
@import "mixins.scss";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,input,button{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

//@font-face {
//  font-family: 'Buffete';
  //src: url('../fonts/neues_bauen_demo-webfont.eot');
  //src://url('../fonts/neues_bauen_demo-webfont.eot?#iefix') format('embedded-opentype'),
  //url('../fonts/neues_bauen_demo-webfont.woff') format('woff'),
  //url('../../fonts/HYZhuZiMuTouRenW.ttf') format('truetype'),
  //url('../fonts/neues_bauen_demo-webfont.svg#NeuesBauenDemo') format('svg');
  //src:url('../../fonts/buffete.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
body {
  width:100%;
  line-height: 1;
}
*{
  box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
  text-decoration: none !important;
}
//img{
//  //阻止安卓端微信浏览器放大
//  pointer-events: none;
//}
input{
  background:none;
  outline:none;
  border:0px;
}
.flexClumn{
    width:100%;
    @include fj(flex-start);
    flex-direction: column;
    -ms-flex-direction: column;
   -webkit-flex-direction: column;
    align-items: center;
}
.flexCenter{
    justify-content: center;
    align-items: center;
}
.avatarWrapper{
  background-color: #CECECE;
  border-radius:100%;
  .avatar{
    width: 100%;
    height:100%;
    border-radius:100%;
  }
}

.text-center{
    text-align: center;
}
.mar-top-10{
    @include mar-top(10px)
}
.mar-left-10{
     @include mar-left(8px)
 }
.mar-right-10{
    @include mar-right(10px)
}
.codeBtn{
    @include px2rem(height,40px);
    @include px2rem(width,120px);
    border: 1px solid $btn-color;
    border-radius: 2px;
    background-color: #fff;
    @include sc(14px,$btn-color)

}
.disableCodeBtn{
  @include px2rem(height,40px);
  @include px2rem(width,120px);
    border-radius: 2px;
    background-color: #a7aaa6 !important;
  @include sc(12px,#fff)

}
.mar-top-10{
  @include mar-top(10px)
}
.mar-top-12{
  @include mar-top(12px)
}
.mar-top-20{
  @include mar-top(20px)
}
.mar-top-5{
  @include mar-top(5px)
}
.mar-right-32{
  @include mar-right(32px)
}
.inviteBtnWrap{
  @include fj(center);
  position: relative;
  height:52px;
  .inviteBtn{
    width:290px;
    height:auto;
  }
  .inviteText{
    width:100%;
    height:52px;
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    text-align: center;
    line-height: 52px;
    @include sc(16px,#8B572A)
  }
}
.logo{
  position: absolute;
  top:0;
  left:0;
  width:111px;
  height: 58px;
  .logo-img{
    width: 100%;
  }
}
.yellow-text{
  color:#FFD100
}
.red-text{
  color:#d1021b!important;
}
.submit-btn{
  width:235px;
  height:40px;
  @include sc(14px,#8B572A);
  line-height:40px;
  @include text-center();
  @include yellow-linear-btn();
  border-radius: 20px;
}
.lesson-modal{
  @include fj(center);
  flex-direction: column;
  align-items: center;
  .lesson-title{
    @include sc(18px,#000);
    line-height: 25px;
  }
  .lesson{
    @include sc(16px,#FFD100);
    line-height: 22px;
  }
  .lesson-img-wrapper{
    width:172px;
    height: 85px;
    border: 0.5px solid #CECECE;
    box-sizing: border-box;
    @include mar-top(12px);
    @include mar-bottom(12px);
    background-color: #757475;
  }
  .lesson-img{
    width:172px;
    height: 85px;
  }
  .lesson-notice{
    @include sc(12px,#000);
    line-height: 17px;
    text-align: center;
  }
  .lesson-share{
    @include sc(12px,#FFD100);
    line-height: 17px;
    margin-top: 9px;
    @include text-center()
  }
}
.horizontional-center{
  @include fj(center);
  align-items: center;
}
.text-overflow{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.disabled-background{
  background-color: #a7aaa6;
}
.line-through{
  text-decoration: line-through;
}
.flex-div{
  display: flex;
  flex: 1;
}
.flex-end{
  flex: 1;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  justify-content:flex-end !important;
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.cut-off-view{
  height: 10px;
  width: 100%;
  background-color: #F7F7FA;
}
.hr-line{
  height:1px;
  @include border-bottom-to-1px();
}
.comment-wrapper{
  height: auto;
  //position: relative;
  .comment-header{
    height: 45px;
    padding: 0 12px;
    box-sizing: border-box;
    font-size: 16px;
    color: #4A4A4A;
    line-height: 45px;
    letter-spacing: 0;
  }
  .list-wrapper{
    //position: absolute;
    //left: 0;
    //top:100px;
    //z-index: 100;
    //height: calc(100% - 45px);
    //overflow: hidden;
    width: 100%;
    background: #FFFFFF;
  }
  .bottom-state {
    width: 98%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-left: 2%;
    text-align: center;
    color: #9B9B9B;
    //border-bottom: 1px solid #F2F2F2;
  }
}
.text-right {
  text-align: right!important;
}